<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting Templates</title>
</head>

<body>
    <div style="display:grid; justify-items: center; margin-left:10%;margin-right: 10%;">
        <h1>A Basic (Simple) Template</h1>
        <h2>Hello Freeman!</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum atque iure voluptas, dolore sit nihil quod. Alias ipsum, consectetur facere porro, placeat culpa velit vitae fugit laboriosam sit maxime iste.</p>
    </div>


</body>

</html>